<div class="notice"><h1>New Customer</h1></div>
	<div class="center">
		<%= render 'form', customer: @customer %>
		<div class="button7 button8">
			<%= link_to 'Back', customers_path %>
		</div>
</div>
